/* here you can put your own css to customize and override the theme */

/* site logo */
.site-logo {
  float: left;
  padding-top: 0px;
}

.about-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Overide component.css*/
.fa_danger {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Overide style.css*/
.services-block .fa_danger {
  background: #f05250;
  color: #fff;
  width: 99px;
  height: 99px;  
  line-height: 1;
  border-radius: 50%;
  position: relative;
  margin-bottom: 29px;
}

.services-block .fa_danger:after {
  bottom: -8px;
  width: 0; 
  height: 0;
  left: 50%;
  margin-left: -9px;
  z-index: 2; 
  content: " "; 
  display: block; 
  position: absolute;
  border-top: 9px solid #f05250;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

.services-block .fa_danger {
  font-size: 38px;
  padding: 35px 0 0;
}

.services-block ul li {
  font-size: 18px;
  padding: 5px;
}

.services-block .item { /* remove border */
  border-right: solid 0px #e8e7e7;
  padding-top: 50px;
}

/*Overide blue.css(theme)*/
.services-block .fa_danger{
  background: #f05250;
}
.services-block .fa_danger:after {
  border-top: 9px solid #f05250;
}

.signin{
  padding: 1px 10px;
  font-size: 18px;
  font-weight: 700;
  outline: none !important;
  background-image: none !important;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-sign-in {
  margin: -3px -65px 0 10px !important;
}

.btn-register {
  margin: -3px 0 0 50px !important;
}

.register_font {
	color : #2e7af7;
	font-size : 25px;
	font-weight: 700;
	padding : 5px 0;
}

/***
Pre-Header and pre-header elements
***/
.pre-header {
	color: #616b76;
	border-bottom: 1px solid #eee;
	padding-top: 10px;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: #fff;
}
.pre-header a {
	color: #616b76;
}
.pre-header a:hover {
	color: #E02222;
}
.pre-header a:focus {
	text-decoration: none;
}
.pre-header li {
	padding-left: 11px;
	padding-right: 15px;
	border-right: solid 1px #d8d8d8;
}
.pre-header li:last-child {
	border: none;
}
.additional-shop-info li:first-child {
	padding-left: 0;
}
.additional-nav li:last-child {
	padding-right: 0;
}
.pre-header .fa {
	margin-right: 4px;
}

/*Contact Block*/
.contact-block {
  background: #f6f6f6;
  padding: 60px 0 10px;
}
.contact-item {
  text-align: left;
  margin-bottom: 5px;
}
.contact-item label {
  font: 400 18px "PT Sans Narrow", Arial, sans-serif;
}
